/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(9, 24, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020457;
}

.columns {
  margin: 0 !important;
}

.cover {
  height: 100vh;
}

.coverText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.coverTitle {
  padding: 0px;
  margin: 0px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 90px;
  color: rgb(255, 255, 255);
}

.and {
  color: rgb(255, 255, 255);
  font-family: "Amatic SC", cursive;
}

.coverDesc {
  padding: 0px;
  margin: 0px;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 60px;
  color: rgb(255, 255, 255);
}

.about {
  margin: 50px;
}

.nameTitle {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
}

.descText {
  font-family: "Amatic SC", cursive;
  font-weight: 300;
}

.mtn {
  width: 100%;
  background-color: rgb(243, 242, 241);
}

.quote {
  margin: 30px;
  line-height: 30px;
  padding: 15px;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: 700;
  border-top: 2px solid rgb(2, 27, 74);
  border-bottom: 2px solid rgb(2, 27, 74);
}

.rsvp {
  text-align: center;
  position: relative;
  top: -8px;
  background-color: rgb(2, 27, 74);
}

.rsvpButton {
  background-color: white;
  margin-right: 20px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  padding: 20px 50px 20px 50px;
  color: rgb(2, 27, 74);
  border: 4px solid rgb(245, 181, 132);
  transition: 0.2s;
  text-align: center;
}

.rsvpButton:hover {
  background-color: rgb(2, 27, 74);
  color: white;
  border: 3px solid rgb(2, 27, 74);
}

.images {
  padding: 22px;
  padding-bottom: 30px;
}

.bigImg {
  height: 100%;
  width: 100%;
}

.floatImg {
  height: 40%;
  width: 40%;
  position: relative;
  left: 25%;
  margin-bottom: -30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.floatImg2 {
  height: 50%;
  width: 50%;
  position: relative;
  left: 63%;
  top: -20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  width: 100%;
  min-height: 500px;
  background-color: rgb(222, 234, 252);
  padding-top: 50px;
  padding-bottom: 80px;
}

.details {
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 35px;
}

.detailsSub {
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.detailsSub2 {
  padding: 5px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.detailsText {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  padding: 10px;
}

.acLink {
  margin-top: 10px;
  text-decoration: underline;
  font-weight: 700;
  color: rgb(2, 27, 74);
}

.acLink a {
  color: rgb(2, 27, 74);
}

.timeline {
  background-color: white;
  position: relative;
  top: -50px;
}

.timelineTitle {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  text-align: center;
}

.timelineTime {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
}

.center {
  text-align: center;
}

.iconFA {
  font-size: 50px;
  margin: 0 0 25px 0;
}

.map {
  width: 100%;
  height: 40vh;
  padding-top: 10px;
}

.mapTextTitle {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.directions {
  font-size: 30px;
  margin: 0;
  color: rgb(74, 74, 74);
  transition: 0.2s;
}

.mapDirections {
  transition: 0.2s;
}

.mapLink {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
  position: relative;
  top: -5px;
  left: 5px;
  color: black;
  transition: 0.2s;
}

.mapDirections:hover {
  color: rgb(97, 157, 229);
}

.directions:hover {
  color: rgb(97, 157, 229);
}

.mapLink:hover {
  color: rgb(97, 157, 229);
}

.nameContainer {
  padding-left: 10px;
  padding-top: 15px;
}

.nameSubText {
  font-style: italic;
}

.regTitle {
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.regText {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
}

.regButton {
  margin-right: 20px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding: 15px;
  color: rgb(2, 27, 74);
  border: 3px solid rgb(245, 181, 132);
  transition: 0.2s;
  text-align: center;
}

.regButton:hover {
  background-color: rgb(2, 27, 74);
  color: white;
  border: 3px solid rgb(2, 27, 74);
}

.countdown {
  text-align: center;
}

.countNumber {
  font-family: "Playfair Display", serif;
  font-size: 15px;
}

.countText {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .cover {
    height: 50vh;

    background-position: top;
    background-attachment: fixed;
  }

  .coverText {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .coverTitle {
    padding: 0px;
    margin: 0px;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
  }

  .and {
    color: rgb(255, 255, 255);
    font-family: "Playfair Display", serif;
  }

  .coverDesc {
    padding: 0px;
    margin: 0px;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .about {
    margin: 10px;
  }
  .regTitle {
    padding: 10px;
    margin-top: 50px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
  }

  .regText {
    padding: 10px;
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  .regButton {
    display: block;
    width: 50%;
    margin: 0 auto 10px;
  }
}
