@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bowlby+One&family=Epilogue:wght@300&family=Reenie+Beanie&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
  margin: 0px;
}
